@font-face {
    font-family: 'Nunito-Regular';
    src: url('fonts/Nunito-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'ActayWide-Bold';
    src: url('fonts/ActayWide-Bold.otf') format('opentype')
}

@font-face {
    font-family: 'Railway-Regular';
    src: url('fonts/Raleway-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Railway-Bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Railway-SemiBold';
    src: url('fonts/Raleway-SemiBold.ttf') format('truetype')
}