:root {
	--color-1: #0f1c48;
	--color-2: #112c71;
	--color-3: #56e1e9;
	--color-4: #fbfeff;
	--color-5: #3b60db;
	--color-6: #bb63ff;
	--slayder: rgba(15, 28, 72, 0.5);
	--forma-zayavki: #f7f7fd;
	--cvet-menyu: #cde5fa;
	--color-7: rgba(91, 88, 235, 0.08);
	--color-8: #5b58eb;
}

:root {
    --font-family: "Raleway", sans-serif;
    --second-family: "Actay Wide", sans-serif;
    --third-family: "Nunito", sans-serif;
  }

$wigthDesktop: 1920px;
